* { margin: 0; padding: 0; box-sizing: border-box }

ul, ol { list-style: none }

hr { border: 0 }

a { color: inherit; /*inherit是继承的意思 */ text-decoration: none; }
.clearfix::after { content: ""; display: block; clear: both; }

/* *************样式重置*************** */

body { background: #efefef; color: black; font-family: Arial, 宋体, sans-serif; padding-bottom: 100px; }

.logo span { font-size: 28px; font-weight: bold; font-family: "Arial Black"; }
.logo span:first-child { color: #e8676b; margin-right: 4px; }
.logo span:last-child { color: #9a9da2; font-size: 20px}

.topNavbarWrap { margin-bottom: 40px; min-height: 60px; }
.topNavbar { padding: 10px 0; position: relative; background: transparent; z-index: 3; color: rgba(255, 255, 255, 0.7); transition: transform 400ms ease-out 100ms, padding 300ms ease-out, box-shadow 300ms ease-out, background 300ms ease-out; }
.navActive { background: white; position: fixed; top: 0; left: 0; color: #3d4451; width: 100%; padding: 0; box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23); }
.topNavbar img { float: left; }
.topNavbar nav { float: right; padding: 2px 0; }
.topNavbar nav>ul>li { float: left; font-size: 14px; margin: 0 17px; position: relative; }
.topNavbar nav li>a { display: block; color: inherit; font-weight: bold; padding: 12px 0; border-bottom: 3px solid transparent; position: relative; }
.topNavbar nav li.active>a::after, .topNavbar nav li.highLight>a::after { content: ''; position: absolute; top: 100%; left: 0; width: 100%; height: 3px; background: #e8676b; animation: menuSlide 0.3s; }

@keyframes menuSlide { from { width: 0 } to { width: 100%; } }

.topNavbar-inner { padding: 10px 15px; z-index: 3; position: relative; }
.topNavbar .subMenu { position: absolute; top: 100%; right: 0; box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3); color: #3c4451; transform: translateX(-50px); opacity: 0; visibility: hidden; background: white; transition: all 0.3s; }
.topNavbar li.active .subMenu { opacity: 1; visibility: visible; /* display: block; */ /*触发bug*/ transform: translateX(0); }
.topNavbar .subMenu li { white-space: nowrap; cursor: pointer; padding: 10px 20px; color: rgba(0, 0, 0, 0.7); transition: all 0.3s; }
.topNavbar .subMenu li:hover { color: #e8676b; background: #fafafa; }

[data-x].offset { transform: translateY(100px); opacity: 0.5; }
[data-x] { transform: translateY(0); opacity: 1; transition: all 0.5s; }

.banner { background-image: url(../images/rs-cover-2-2-1-1.jpg); height: 515px; display: block; position: absolute; top: 0; left: 0; right: 0; z-index: 1; background-size: cover; background-color: #242832; background-repeat: no-repeat; background-position: center; }
.banner::after { content: ""; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: rgba(44, 51, 64, 0.8); }

.content { position: relative; z-index: 2; }
.container { max-width: 960px; margin: 0 auto; padding: 40px 15px; }
.content main { margin: 0 auto; }
.card-wrap { box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); }
.container .card { padding: 57px 50px 15px 50px; background-color: white; }
.picture { width: 42%; margin-right: 10%; float: left; }
.imgWrap { padding: 0 30px; }
.imgWrap>img { width: 100%; }
.text { float: left; width: 48%; }
.welcome-wrap { margin-bottom: 18px; }
.welcome { background-color: #e8676b; color: white; font-size: 14px; padding: 7px 12px; font-weight: bold; /* font-family: "Arial Black"; */ position: relative; display: inline-block; font-family: arial; }
.welcome::after { content: ''; width: 0; height: 0; top: 100%; left: 5px; display: block; position: absolute; border: 8px solid transparent; width: 0; height: 0; border-top-width: 0; border-left-color: #e8676b; }

.myName { font-size: 36px; color: #3d4451; }

.profile-position { font-size: 18px; color: #3d4451; margin-bottom: 25px; }

.myInfo { padding-top: 25px; }
.myInfo li { margin-bottom: 13px; }
.myInfo strong { width: 120px; float: left; color: #333333; }
.myInfo span { /* margin-left: 125px; */ font-size: 15px; font-weight: 400; line-height: 20px; color: #9da0a7; }

.media { background: #e8676b; padding: 10px 0; text-align: center; }

.text hr { border-bottom: 1px solid #dedede; }

.icon { box-sizing: content-box; fill: white; overflow: hidden; width: 20px; height: 20px; margin: 0 30px; padding: 10px; border-radius: 50%; transition: background-color 0.5s; }

.media .icon:hover { border-radius: 50%; background-color: rgba(0, 0, 0, 0.1); }

.downBtn-wrap { text-align: center; padding: 30px 0; }
.downBtn { display: inline-block; padding: 21px 55px; margin: 5px; opacity: 0.95; border: 1px solid rgb(203, 205, 207); border-radius: 5px; font-weight: bold; color: #3d4451; transition: box-shadow 0.3s; }
.downBtn:hover { box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.selfIntroduction { line-height: 1.8; color: black; text-align: center; font-size: 20px; font-family: kaiti; }
.container section { padding-top: 70px; }
.container section h2 { color: #3d4451; font-size: 34px; text-align: center; margin-bottom: 25px; }

.skillBar { background-color: #fff; box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); padding: 40px 50px 0; font-size: 14px; }
.skillBar li { float: left; width: 50%; padding: 0 15px; margin-bottom: 40px; }
.skillBar li p { margin-bottom: 5px; color: #3d4451; font-family: arial; }
.barLine { height: 5px; position: relative; background-color: rgba(232, 103, 107, 0.3); border-radius: 5px; overflow: hidden; /* opacity: 0.6; */ }
.skill.offset .barFill { transform: translateX(-100%) }
.barFill { display: block; height: 100%; background-color: #e8676b; border-radius: 5px; transform: translateX(0); transition: all 0.5s; }

.protfolio { text-align: center; }
.protfolio nav { display: inline-block; vertical-align: top; }
.protfolio li { margin-left: 30px; display: inline-block; vertical-align: top; color: #000; font-size: 14px; }
.protfolio li:first-child { margin-left: 0px; }

.filter-bar { height: 5px; margin: 10px auto 0; background-color: #fff; position: relative; border-radius: 5px; }
.filter-bar-line { position: absolute; background-color: #e8676b; height: 100%; display: block; width: 40px; border-radius: 5px; transition: all 1s; }
.filter-bar1 .change { width: 40px; margin-left: 0; }
.filter-bar2 .change { width: 40px; margin-left: 57px; }
.filter-bar3 .change { width: 100px; margin-left: 105px; }

.jobs { padding-top: 30px; }
.big { float: left; padding-right: 10px; position: relative; /* background-color: #d9d9da; */ }
.small::before { content: ''; left: 0; bottom: 0; width: 100%; z-index: 1; position: absolute; height: 100%; background: rgba(0, 0, 0, 0.1); }
.smaller { float: left; padding-left: 10px; }
.small { margin-bottom: 20px; position: relative; }
.small>img { display: block; }

/*loading*/

.loadingWrap { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: white; z-index: 15; display: flex; justify-content: center; align-items: center;background:  #292929;transition: all 1s;}
.loadingWrap.active { display: none; }
.loading {background: transparent; display: flex; justify-content: center; align-items: center; position: relative;flex-direction: column; font-size: 30px;color: white;position: absolute;font-family: '宋体'}
.loading>.enter{cursor: pointer;text-align: center;padding-top: 20px;}
/* .loading::after { content: ''; position: absolute; height: 100%; width: 100%; opacity: 0; top: 0; left: 0; background: #e8676b; border-radius: 50%; animation: load 1.5s linear infinite; }
.loading::before { content: ''; position: absolute; height: 100%; width: 100%; opacity: 0; top: 0; left: 0; background: #e8676b; border-radius: 50%; animation: load 1.5s 0.75s linear infinite; } */

@keyframes load {
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        transform: scale(1);
        opacity: 0;
    }
}

/*loading*/

.messages>ol>li{
    padding: 15px 0;
    font-size: 12px;
    border-top: 1px dotted #ccc;
    /* background: white; */
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-word;
}
.messages .userName{
    color: #e8676b;
}
.messages .msgTime{
    margin-top: 15px;
    color: #999;
}

.postMsgForm{
    /* border-top: 1px solid #e8676b; */
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.postMsgForm label{
    color: #333;
    font-size: 16px;
    padding: 20px 0;
    display: block;
}
.postMsgForm textarea{
    width: 100%;
    resize:none;
}
.postMsgForm .submit{
    float: right;
    color: #fff;
    background: #e8676b;
    border: none;
    padding: 8px 5px;
    border-radius: 5px;
}


.swiper-container {
    width: 600px;
    height: 450px;
}
.swiper-container img{
    display: block;
    width: 100%;
}
